---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { DevToolbarBadge } from 'astro/runtime/client/dev-toolbar/ui-library/badge.js';
import Badge from '../components/Badge.astro';
import Linkedin from '../components/icons/Linkedin.astro';
import GitHub from '../components/icons/GitHub.astro';
import SocialPill from '../components/SocialPill.astro';
import MailIcon from '../components/icons/Mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import BriefCase from '../components/icons/BriefCase.astro';
import Code from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Portfolio de Edgar - Desarrollador y Programador Web"
		description='Contrata a Edgar para desarrollar aplicaciones web, ya sea en backend como en frontend.'>
	<main class="px-4">

		<SectionContainer class="py-40 pb-25">
			<img class="rounded-full size-25 mb-4" src="/pictures/fotolinkedin.jpg" alt="edgar foto">
		<h1 class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex flex-row
		gap-x-4 pb-6 lg:pb-10">Hola, soy Edgar <a target="_blank" href="https://www.linkedin.com/in/edgar-%C3%A1lvaro-varela-508329231/" class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></a></h1>
		
		<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
			Junior
			<span class="text-yellow-200/90">Web Developer.</span><span class="text-red-100/90">
				From Valencia, Spain.</span><br> 
			<span class="opacity-75">I specialize in creating unique websites.</span>
		</h2>
		<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/edgar-%C3%A1lvaro-varela-508329231/"><Linkedin class="size-5 lg:size-6"  /> Linkedin</SocialPill>
				<SocialPill href="https://github.com/Edgar24DEV"><GitHub class="size-5 lg:size-6"  />Github</SocialPill>
				<SocialPill><MailIcon class="size-5 lg:size-6"/>edgaralvaronline@gmail.com</SocialPill>
		</nav>
	</SectionContainer>

	<SectionContainer id="experiencia">
		<h2 class="text-2xl font-semibold mb-10 flex gap-x-2 items-center"><BriefCase class="size-8"/>Work Experience</h2>
		<Experience/>
	</SectionContainer>

	<SectionContainer id="proyectos" >
		<h2 class="text-2xl font-semibold mb-10 flex gap-x-2 items-center"><Code class="size-8"/>Projects</h2>
		<Projects>
	</SectionContainer>

	<SectionContainer id="sobre-mi">
		<h2 class="text-2xl font-semibold mb-10 flex gap-x-2 items-center mt-40 float-left"><Code class="size-8"/>About Me</h2>
		<p class="text-justify float-right">I am Edgar Álvaro Varela, 
			a highly responsible and committed professional with a passion for continuous learning.
			I focus on excellence and delivering quality results. 
			My dedication and demonstrated skills in various work situations have earned me the trust of those around me.

			I have a solid background in web application development, 
			currently pursuing a Higher Vocational Training Cycle in Web Application Development at IES Blasco Ibáñez. 
			My technical skills include <span class="text-yellow-100">JAVA, SPRING, PHP, JAVASCRIPT, ANGULAR, HTML, CSS, SQL, PL/SQL, GIT, and GITHUB.</span></p>
	</SectionContainer>
	</main>
</Layout>


