---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        title: 'Desarrollador Full Stack, Yurest',
        date: 'marzo 2025 - present',
        description: 'At Yurest, I led the development of a Point of Sale (POS) system using Angular and Ionic for the frontend and Laravel for the backend. The project was structured following Hexagonal Architecture and Domain-Driven Design (DDD) principles to ensure scalability, maintainability, and clear separation of concerns.'
    },
    {
        title: 'Software Developer in Java Swing',
        date: 'April 2024',
        description: 'I made a desktop software for manage customers, make bills, manage bills and convert to PDF and see information about the billings from previous months'
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3"> 
    {
        EXPERIENCE.map(experience =>(
            <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
            </li>
        ))
    }                 
    </ol>

